<!DOCYPE html>
<html>
  <head>
    <title>FundFacts</title>
  </head>
  <body style=text-align:center>
    
    <img src= "https://fundfacts--prashantadas.repl.co/static/Finzo_Logo.png" height = '70' width = '200' style="vertical-align:middle ;margin:20px 20px">
    <h3>Quantitative Analysis of Funds</h3>
    <label for="category">Choose a Category:</label>
    <select name="category" id="category">
      <option>Largecap</option>
      <option>Midcap</option>
      <option>Smallcap</option>
    </select>
    <br>
    <label for="benchmark">Choose a Benchmark:</label>
    <select name="benchmark" id="benchmark">
      <option>Nifty 50</option>
      <option>Nifty Midcap 100</option>
      <option>Nifty Smallcap 250</option>
    </select>

  
      
  </body>
    
  
  
</html>
  

  